@import '../styles/common.less';
@import '../styles/mobile.less';

@prefix: 'cube';
@breadcrumbPrefix: ~'@{prefix}-breadcrumb';

.@{breadcrumbPrefix} {
  display: flex;
  align-items: center;
  font-size: 14px;
  .@{breadcrumbPrefix}-item {
    display: flex;
    align-items: center;
    .@{breadcrumbPrefix}-icon {
      margin-right: 4px;
      display: flex;
      align-items: center;
    }
    .@{breadcrumbPrefix}-link {
      color: @cube-primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .@{breadcrumbPrefix}-text {
      color: @cube-default-color;
    }
    .@{breadcrumbPrefix}-dropdown {
      margin-left: 4px;
      select {
        font-size: 14px;
        border: 1px solid @cube-default-border-color;
        background: @cube-default-bg;
        border-radius: 2px;
        padding: 0 4px;
      }
    }
    .@{breadcrumbPrefix}-separator {
      margin: 0 8px;
      color: @cube-disabled-color;
      user-select: none;
    }
  }
  .ice-select-selector {
    padding: 0 18px 0 0;
  }
  .ice-select-arrow {
    right: 0 !important;
  }
  // .ice-select-selection-item:hover {
  //   background: #ccc;

  // }
} 